In [70]:
#Intro to Pandas found here: https://libguides.ntu.edu.sg/python/intropandas
#Parts 10
%matplotlib inline
import numpy as np
import pandas as pd
df = pd.read_csv('iris.csv')

Applying functions and modules
Now that we are familiarized with Panda's basic functionality and syntax, let's explore how we can combine this with other popular mods that are commonly used in python to create more robust data structures appropriate for data analysis. To apply a function to the dataframe, you may simply apply it to the data frame variable as you would apply it on a normal variable. Try out these examples!

## 1. Applying numpy functions

import numpy as np

df.apply(np.max)

## 2. Applying lambda functions

df['net_sales']=df['net_sales'].apply(lambda x: 1000 * x)

df['net_sales'].head()

## 3. Renaming values according to specific values using the map function

d = {False : 'No', True : 'Yes'}

df['order_fufilled'] = df['order_fufilled'].map(d)

df.head()

## 4. Renaming values with the replace function

a =  {'Yes':True,'No':False}

df = df.replace({'order_fufilled': a})

df.head()

In [71]:
#Let's try with numpy first:
df.apply(np.max)

sepal.length          7.9
sepal.width           4.4
petal.length          6.9
petal.width           2.5
variety         Virginica
dtype: object

In [72]:
#Now with lambda function
#this allows us to modify a column in place w/any arithmetic operation
#that reduces to one expression
df['petal.length'] = df['petal.length'].apply(lambda x:x/10)
df.sample(15)

     sepal.length  sepal.width  petal.length  petal.width     variety
76            6.8          2.8          0.48          1.4  Versicolor
87            6.3          2.3          0.44          1.3  Versicolor
4             5.0          3.6          0.14          0.2      Setosa
50            7.0          3.2          0.47          1.4  Versicolor
116           6.5          3.0          0.55          1.8   Virginica
1             4.9          3.0          0.14          0.2      Setosa
108           6.7          2.5          0.58          1.8   Virginica
117           7.7          3.8          0.67          2.2   Virginica
83            6.0          2.7          0.51          1.6  Versicolor
97            6.2          2.9          0.43          1.3  Versicolor
129           7.2          3.0          0.58          1.6   Virginica
125           7.2          3.2          0.60          1.8   Virginica
149           5.9          3.0          0.51          1.8   Virginica
56            6.3          3.3          0.47          1.6  Versicolor
38            4.4          3.0          0.13          0.2      Setosa

In [77]:
#now we'll try it with map function
d = {'Virginica' : 'virgin','Setosa' : 'seto','Versicolor' : 'versi'}
df['variety']= df['variety'].map(d)

df.sample(15)

     sepal.length  sepal.width  petal.length  petal.width variety
115           6.4          3.2          0.53          2.3  virgin
1             4.9          3.0          0.14          0.2    seto
107           7.3          2.9          0.63          1.8  virgin
39            5.1          3.4          0.15          0.2    seto
32            5.2          4.1          0.15          0.1    seto
29            4.7          3.2          0.16          0.2    seto
116           6.5          3.0          0.55          1.8  virgin
143           6.8          3.2          0.59          2.3  virgin
67            5.8          2.7          0.41          1.0   versi
85            6.0          3.4          0.45          1.6   versi
60            5.0          2.0          0.35          1.0   versi
5             5.4          3.9          0.17          0.4    seto
144           6.7          3.3          0.57          2.5  virgin
54            6.5          2.8          0.46          1.5   versi
117           7.7          3.8          0.67          2.2  virgin

In [83]:
#finally use replace to rename values back to original
a = {'seto':'Setosa','virgin':'Virginica','versi':'Versicolor'}
#this uses the dictionary as value and key is column name for replacement
df = df.replace({'variety':a})
df.sample(15)

     sepal.length  sepal.width  petal.length  petal.width     variety
97            6.2          2.9          0.43          1.3  Versicolor
9             4.9          3.1          0.15          0.1      Setosa
106           4.9          2.5          0.45          1.7   Virginica
48            5.3          3.7          0.15          0.2      Setosa
88            5.6          3.0          0.41          1.3  Versicolor
79            5.7          2.6          0.35          1.0  Versicolor
118           7.7          2.6          0.69          2.3   Virginica
37            4.9          3.6          0.14          0.1      Setosa
92            5.8          2.6          0.40          1.2  Versicolor
68            6.2          2.2          0.45          1.5  Versicolor
5             5.4          3.9          0.17          0.4      Setosa
65            6.7          3.1          0.44          1.4  Versicolor
45            4.8          3.0          0.14          0.3      Setosa
3             4.6          3.1          0.15          0.2      Setosa
78            6.0          2.9          0.45          1.5  Versicolor